name: Signed Android Release Build-444

on:
  workflow_dispatch:
  push:
    branches:
      - biweekly_ci
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Decode keystore from secret
        run: echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > my-release-key.jks

      - name: List files in root directory2
        run: ls -l

      - name: Build with Gradle
        run: ./gradlew :composeApp:assembleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: List build output
        run: ls -l composeApp/build/outputs/apk/release/

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: composeApp/build/outputs/apk/release/app-release.apk

      - name: Cleanup keystore
        run: rm my-release-key.jks
